@model Rolory.Models.Networker

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<br />
<br />  
<div class="form-horizontal">
    <h4>Manage Your Profile</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Availability)
    @Html.HiddenFor(model => model.UserActivities)
    @Html.HiddenFor(model => model.GoalCoolDown)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WorkTitle, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.WorkTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WorkTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WorkTitle, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.Availability, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Availability", Model.Availability, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="container">
        @Html.Label("Availability:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-1">
            @Html.Label("Monday", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-1">
                @Html.RadioButton("Monday", "Monday", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="col-md-1">
            @Html.Label("Tuesday", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-1">
                @Html.RadioButton("Tuesday", "Tuesday", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-md-1">
            @Html.Label("Wednesday", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-1">
                @Html.RadioButton("Wednesday", "Wednesday", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-md-1">
            @Html.Label("Thursday", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-1">
                @Html.RadioButton("Thursday", "Thursday", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-md-1">
            @Html.Label("Friday", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-1">
                @Html.RadioButton("Friday", "Friday", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-md-1">
            @Html.Label("Saturday", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-1">
                @Html.RadioButton("Saturday", "Saturday", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-md-1">
            @Html.Label("Sunday", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-1">
                @Html.RadioButton("Sunday", "Sunday", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>
   
 

    @*<div class="form-group">
            @Html.LabelFor(model => model.UserActivities, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Activities", Model.UserActivities, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserActivities, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.Label("Reach Out Goal Per Day", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Goal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Goal, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ReceiveEmails, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.ReceiveEmails)
                @Html.ValidationMessageFor(model => model.ReceiveEmails, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", "Home")
    </div>
