@model Rolory.Models.Contact

@{
    ViewBag.Title = "ConnectQuery";
    <style>
        .w3-btn, .w3 button {
            border: none;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap
        }

            .w3-btn:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19)
            }

        .w3-btn, .w3-button {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
        }

            .w3-disabled, .w3-btn:disabled, .w3-button:disabled {
                cursor: not-allowed;
                opacity: 0.3
            }

                .w3-disabled *, :disabled * {
                    pointer-events: none
                }

                .w3-btn .w3-disabled:hover, .w3-btn:disabled:hover {
                    box-shadow: none
                }
    </style>
}

<br />
@if (Model.ImagePath != null)
{
    <img src=@Url.Content(Model.ImagePath) sstyle="width: 150px lengh: 150px" />
}
<h3> @Html.DisplayFor(model => model.Prefix) @Html.DisplayFor(model => model.GivenName)  @Html.DisplayFor(model => model.FamilyName)</h3>
<br />
<h2>Would you like to connect?</h2>
<button class="w3-button w3-round-xlarge">@Html.ActionLink("Yes", "Interact", "Random", new { id = Model.Id, inTouch = true }, null)</button>
<button class="w3-button w3-round-xlarge"> @Html.ActionLink("I Just Did!", "Create", "Interactions", new { id = Model.Id, inTouch = true }, null)</button>
<button class="w3-button w3-round-xlarge">@Html.ActionLink("Not Really", "Index", "Random")</button>
