@model Rolory.Models.Contact

@{
    ViewBag.Title = "Index";
    var message = ViewBag.Message;
}

<h2>Contact</h2>
<hr/>
<h3> @Html.DisplayNameFor(model => model.Image)</h3>
<h3> @Html.DisplayFor(model => model.Prefix) @Html.DisplayFor(model => model.GivenName)  @Html.DisplayFor(model => model.FamilyName)</h3>
<h4>@message</h4>
