@model Rolory.Models.Contact

@{
    ViewBag.Title = "UpdateInfo";
    string message = ViewBag.Message;
    string question = ViewBag.Question;
    string isQuestion = ViewBag.IsQuestion;
    string rawQuestion = ViewBag.RawQuestion;
    string thisAnswer = "Submit";
    var yesAnswer = Html.ActionLink("Yes", "UpdateInfo", new { id = Model.Id, question = rawQuestion, answer = thisAnswer }, htmlAttributes: new { @class = "btn btn-primary btn-lg" });
}

<br />
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>Update @Model.GivenName's Information</h2>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <h4>@message</h4>
    if (isQuestion == "false" || isQuestion == null)
    {
        @yesAnswer

        @Html.ActionLink("No", "UpdateInfo", new { question = rawQuestion }, htmlAttributes: new { @class = "btn btn-primary btn-lg" });
    }
    else
    {
        if (rawQuestion == "Anniversary" || rawQuestion == "BirthDate")
        {
            <p>
                <input type="date" value="" data-content="answer"/>
               
              
                <input type="submit" value="Submit" />
            </p>
        }
        else
        {
            <p>
                @Html.TextBox("answer")
                <input type="submit" value="Submit" />
            </p>
        }

        @Html.ActionLink("Go Back", "UpdateInfo", new { question = rawQuestion }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
    }
}


