@model Rolory.Models.Interaction

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>Interaction Details</h2>
        </div>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Contact != null && Model.Contact.Image != null)
        {
            <dt>
                @Html.DisplayFor(model => model.Contact.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contact.Image)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Message.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Contact Interactions", "Index", new { id = Model.ContactId })
</p>
