@model Rolory.Models.Interaction

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>Interaction Details</h2>
        </div>
    </div>
</div>

<div class="text-center">
    <hr />
    <dl>
        @if (Model.Contact != null && Model.Contact.ImagePath != null)
        {
            <dd>
                <img src="@Url.Content(Model.Contact.ImagePath)" width="200" height="200" />
            </dd>
        }
        <dd>
            <h2>
                @Html.DisplayFor(model => model.Contact.GivenName) @Html.DisplayFor(model => model.Contact.FamilyName)
            </h2>

        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Moment)
        </dt>*@


        @*<dt>
            @Html.DisplayNameFor(model => model.Message.Subject)
        </dt>*@

        <dd>
            <h3>
                @Html.DisplayFor(model => model.Message.Subject)
            </h3>

        </dd>
        <dd>
            <h4>
                @Html.DisplayFor(model => model.Moment)
            </h4>

        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Message.Body)
        </dt>*@

        <dd>
            <h4>
                @Html.DisplayFor(model => model.Message.Body)
            </h4>

        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Contact Interactions", "Index", new { id = Model.ContactId })
</p>
