@model Rolory.Models.Interaction

@{
    ViewBag.Title = "Details";
}
<br/>
<h2>Details</h2>

<div>
    <h4>Interaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Contact.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Contact Interactions", "Index", new { id = Model.ContactId })
</p>
