@model IEnumerable<Rolory.Models.Interaction>

@{
    ViewBag.Title = "Index";
}

<br/>
<h2>Interactions</h2>

<p>
    @Html.ActionLink("Log A Moment", "Create", "Interactions", new { id = @ViewBag.Id}, htmlAttributes: new { @class = "" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Moment)
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message.Subject)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Moment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.GivenName) 
            @Html.DisplayFor(modelItem => item.Contact.FamilyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message.Subject)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id, messageId = item.Message.Id }, null) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
