<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rolory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <div class="navbar-collapse collapse">
            <div class="container">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/images/logo.png" alt="Site Logo" style="height: 30px; width:125px" />
                    </a>
                        <ul class="nav navbar-nav">
                            <li style="font-size:medium"><br /><h4>Get In Touch With:</h4></li>
                            <li><br />@Html.ActionLink("Us", "Contact", "Home")</li>
                            <li><br />@Html.ActionLink("Your Contacts", "Index", "Contacts")</li>
                        </ul>
                        <br/>
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Select","Index","Random")</li>
                        </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rolory</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
