<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rolory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">

        @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@
        <div class="navbar-collapse collapse">
            <div class="col-md-1">
              
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/images/logo.png" alt="Site Logo" style="height: 40px; width:167px" />
                </a>
            </div>
            <div class="container">
                <div class="col-md-2">

                </div>
                <div class="col-md-1"></div>
                <ul class="nav navbar-nav">
                    <li style="font-size:medium" class="text-center"><br /><h4>Get In Touch: </h4></li>
                    <li class="text-center"><br />@Html.ActionLink("Connect", "Index", "Random")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="text-center"><br />@Html.ActionLink("Search", "Index", "Contacts")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="text-center"><br />@Html.ActionLink("Reminders", "Index", "Messages")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="text-center"><br />@Html.ActionLink("Insight", "Index", "Statistics")</li>
                </ul>
                <h5><br />@Html.Partial("_LoginPartial")</h5>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rolory</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
