@model Rolory.Models.ContactDescriptionViewModel

@{
    ViewBag.Title = "About";
}
<br />
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>About</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-4">

    </div>
    <br />
    
    @if(Model.Contact.ImagePath != null)
    {
    <img src="@Url.Content(Model.Contact.ImagePath)" width="150" height="200" />
    }



    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align:center">
        <h3>
            @Html.DisplayFor(model => model.Contact.Prefix) @Html.DisplayFor(model => model.Contact.GivenName)  @Html.DisplayFor(model => model.Contact.FamilyName)
        </h3>
        <div class="col-lg-2">
            <br />
            <h4 style="text-align:center">
                @Html.DisplayFor(model => model.Contact.Email)
            </h4>
            <h4 style="text-align:center">
                @Html.DisplayFor(model => model.Contact.PhoneNumber)
            </h4>
        </div>
    </div>

</div>

<div class="container">
    <div class="col-md-12"> <a class="btn btn-primary btn-xlg" src=@Html.ActionLink("Details", "Details", "Contacts", new { id = Model.Contact.Id }, null)</a></div>
    <div class="col-lg-8"> <h2><a class="btn btn-primary btn-xlg" src=@Html.ActionLink("Interactions", "Index", "Interactions", new { id = Model.Contact.Id }, htmlAttributes: new { @class = "" })</a></h2></div>
       
    </div>

    <div class="container">

    </div>












