@model Rolory.Models.Contact

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.AddressType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateAddress.AddressType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateAddress.AddressType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Networker.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Networker.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltPhoneNumberType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltPhoneNumberType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InContact)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
