@model Rolory.Models.Contact

@{
    ViewBag.Title = "Details";
    string inTouch = ViewBag.InTouch;
}
<br />
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>Details</h2>
        </div>
    </div>
</div>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">



        @if (@Html.DisplayFor(model => model.Prefix) != null)
        {
            <dt>@Html.DisplayNameFor(model => model.Prefix) </dt>}


        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.AddressType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.AddressType)
        </dd>

        <dt>
            @if (Html.DisplayFor(model => model.AlternateAddress.AddressType) != null) { Html.DisplayNameFor(model => model.AlternateAddress.AddressType); }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateAddress.AddressType)
        </dd>

        <dt>
            @if (Html.DisplayFor(model => model.Description.Gender) != null) { Html.DisplayNameFor(model => model.Description.Gender); }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description.Gender)
        </dd>
        <dt>
            @if (Html.DisplayFor(model => model.PhoneType) != null) { Html.DisplayNameFor(model => model.PhoneType); }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneType)
        </dd>

        <dt>
            @if (Html.DisplayFor(model => model.PhoneNumber) != null) { Html.DisplayNameFor(model => model.PhoneNumber); }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @if (Html.DisplayFor(model => model.Organization) != null) { Html.DisplayNameFor(model => model.Organization); }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTitle)
        </dd>

        <dt>
            @if (Html.DisplayFor(model => model.AltPhoneNumberType) != null) { Html.DisplayNameFor(model => model.AltPhoneNumberType); }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltPhoneNumberType)
        </dd>

        <dt>
            @if (Html.DisplayFor(model => model.AltPhoneNumber) != null) { Html.DisplayNameFor(model => model.AltPhoneNumber); }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InContact)
        </dt>

        <dd>
            @inTouch
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }) |
    @Html.ActionLink("Add More Details", "Build", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
