@model Rolory.Models.Contact

@{
    ViewBag.Title = "Details";
    string inTouch = ViewBag.InTouch;
}
<br />
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>Details</h2>
        </div>
    </div>
</div>

<div>
    <div class="col-lg-5">
        <h1 class="text-center">@Model.GivenName @Model.FamilyName</h1>

      
            @if (Model.InContact == true)
            {
                <dd class="text-center">
                    You are in touch with @Model.GivenName.
                </dd>
                if (String.IsNullOrEmpty(ViewBag.Moment) == true)
                {
                    <dd class="text-center">
                        Log your recent interaction. @Html.ActionLink("Log A Moment", "Create", "Interactions", new { Id = Model.Id }, null).
                    </dd>
                }
                else
                {
                    <dd class="text-center">
                        Last connected @ViewBag.Moment days ago.
                    </dd>
                    <h6 class="text-center">@Html.ActionLink("Log A More Recent Moment", "Create", "Interactions", new { Id = Model.Id }, null)</h6>
                }

            }
            @if (Model.InContact == false)
            {
                <dd class="text-center">
                    You are not currently in touch with @Model.GivenName.
                </dd>
            }

        <br />

        @if (Model.LastUpdated != null)
        {
            <dt class="text-center">
                @Html.DisplayName("Profile Last Modified")
            </dt>

            <dd class="text-center">
                @Html.DisplayFor(model => model.LastUpdated)
            </dd>
        }
    </div>
    <hr />
    <div class="container">
        <div class="col-md-10">
            <dl class="dl-horizontal" style="align-content:center">
                <h4 class="text-justify">Basic Info</h4>

                @if (Model.Prefix != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Prefix)
                    </dt>


                    <dd>
                        @Html.DisplayFor(model => model.Prefix)
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.GivenName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GivenName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FamilyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FamilyName)
                </dd>
                @if (Model.Email != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                }
                <br />
                @if (Model.Description != null && Model.Description.Gender != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description.Gender)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description.Gender)
                    </dd>
                }
                @if (Model.Description != null && Model.Description.BirthDate != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description.BirthDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description.BirthDate)
                    </dd>
                }
                @if (Model.Description != null && Model.Description.Anniversary != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description.Anniversary)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description.Anniversary)
                    </dd>
                }


                @if (Model.PhoneNumber != null)
                {
                    if (String.IsNullOrEmpty(Model.PhoneType) == false)
                    {
                        <dt>
                            @Html.DisplayFor(model => model.PhoneType) Phone
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                    }

                }
                
                <br />
                @if (Model.Address != null && Model.Address.AddressType != null)
                {

                    <h4>
                        @Html.DisplayFor(model => model.Address.AddressType) Address
                    </h4>
                    <dd></dd>
                }
                @if (Model.Address != null && Model.Address.StreetAddress != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Address.StreetAddress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address.StreetAddress)
                    </dd>
                }
                @if (Model.Address != null && Model.Address.Unit != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Address.Unit)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address.Unit)
                    </dd>
                }
                @if (Model.Address != null && Model.Address.Locality != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Address.Locality)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address.Locality)
                    </dd>
                }
                @if (Model.Address != null && Model.Address.Region != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Address.Region)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address.Region)
                    </dd>
                }

                @if (Model.Address != null && Model.Address.CountryName != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Address.CountryName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address.CountryName)
                    </dd>
                }
                @if (Model.Address != null && Model.Address.ZipCode != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Address.ZipCode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address.ZipCode)
                    </dd>
                }

                <br />

                @if (Model.Organization != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Organization)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Organization)
                    </dd>
                }

                @if (Model.WorkTitle != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.WorkTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WorkTitle)
                    </dd>
                }

                @if (Model.AlternateAddress != null && Model.AlternateAddress.AddressType != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AlternateAddress.AddressType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AlternateAddress.AddressType)
                    </dd>
                }
                @if (Model.AlternateAddress != null && Model.AlternateAddress.StreetAddress != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AlternateAddress.StreetAddress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AlternateAddress.StreetAddress)
                    </dd>
                }
                @if (Model.AlternateAddress != null && Model.AlternateAddress.Unit != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AlternateAddress.Unit);
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AlternateAddress.Unit)
                    </dd>
                }
                @if (Model.AlternateAddress != null && Model.AlternateAddress.Locality != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AlternateAddress.Locality)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AlternateAddress.Locality)
                    </dd>
                }
                @if (Model.AlternateAddress != null && Model.AlternateAddress.Region != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AlternateAddress.Region);
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AlternateAddress.Region)
                    </dd>
                }
                @if (Model.AlternateAddress != null && Model.AlternateAddress.CountryName != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AlternateAddress.CountryName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AlternateAddress.CountryName)
                    </dd>
                }
                @if (Model.AlternateAddress != null && Model.AlternateAddress.ZipCode != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AlternateAddress.ZipCode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AlternateAddress.ZipCode)
                    </dd>
                }


                @if (String.IsNullOrEmpty(Model.AltPhoneNumberType) == false && Model.AltPhoneNumber != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AltPhoneNumberType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AltPhoneNumberType)
                    </dd>
                }

                @if (Model.AltPhoneNumber != null)
                {
                    <dt>
                        @Html.DisplayName("Alternate Phone Number")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AltPhoneNumber)
                    </dd>
                }
                @if (Model.Description != null && Model.Description.Category != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description.Category)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description.Category)
                    </dd>
                }
                @if (Model.Description != null && Model.Description.Relationship != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description.Relationship)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description.Relationship)
                    </dd>
                }
            </dl>
        </div>
</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }) |
    @Html.ActionLink("Add More Details", "Build", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
