@model IEnumerable<Rolory.Models.Contact>

@{
    ViewBag.Title = "Index";
}
<br/>
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>Contacts</h2>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <p>
        Lookup Contact by Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
<p><a class="btn btn-primary btn-lg" src=@Html.ActionLink("Create New","Create")</a></p>
<table class="table">
    <tr>
        <th>   
            @Html.DisplayName("Photo")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GivenName)
        </th>
        <th>
            @Html.ActionLink("Last Name","Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Last Modified","Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.InContact)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GivenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @*@if (Html.DisplayTextFor(modelItem => item.InContact) == Html.DisplayText("True")) { ViewBag.InTouch = "Yes"; }
            @if (Html.DisplayTextFor(modelItem => item.InContact) == Html.DisplayText("False")) { ViewBag.InTouch = "No"; }
            @Html.ViewBag.InTouch*@
            @*@Html.DisplayTextFor(modelItem => item.InContact)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
            @Html.ActionLink("More Info", "About", new { Id = item.Id }) |
        </td>
    </tr>
    }

</table>
