@model IEnumerable<Rolory.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        Lookup Contact by Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          <img src="@Html.DisplayNameFor(model => model.image)" width="25" height="25"/>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.givenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.familyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inContact)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.givenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.familyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inContact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
    }

</table>
