@model Rolory.Models.Message

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Networker.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Networker.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postmark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailBCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailBCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
